* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #e8eef7;
}

header {
  background: #4e8fe3;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.container {
  background: white;
  width: 60%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: #4e8fe3;
}

.error {
  color: red;
  font-size: 14px;
  height: 18px;
}

.botones {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  background: #4e8fe3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #3679ca;
}

#resultado {
  margin-top: 25px;
  padding: 10px;
  background: #f0f7ff;
  border-left: 4px solid #4e8fe3;
  border-radius: 6px;
  display: none;
}


.usuario-item {
    padding: 6px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.btnEliminarUno {
    margin-top: 5px;
}
